/* Body Styling */
body{
  background-color: antiquewhite;
  color:blueviolet;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  color:rgb(210, 139, 227);
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px gray;
}

h2{
  color: rgb(210, 139, 227);
  font-size: 26px;
  font-weight: bold;
}

nav{
  background-color: rgb(218, 177, 215);
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Section Layout */

section{
  margin: auto;
  padding: 20px;
}

#About {
  text-align: center;
}

/* Experience Layout */

#Experience .experience-item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

#Experience .experience-title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

#Experience .experience-item p {
  margin: 5px 0 0 0;
}

/* Connect Layout */

#Connect ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#Connect li {
  background-color: rgb(248, 221, 187);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2)
}

#Connect a {
  color: blueviolet;
  text-decoration: none;
  font-weight: bold;
}

#Connect a:hover {
  text-decoration: underline;
  color: darkmagenta;
}